[submodule "vendor/assets/multi-select"]
	path = vendor/assets/multi-select
	url = git@github.com:lou/multi-select.git
[submodule "vendor/assets/quicksearch"]
	path = vendor/assets/quicksearch
	url = git@github.com:riklomas/quicksearch.git
