[submodule "vendor/assets/multi-select"]
	path = vendor/assets/multi-select
	url = https://github.com/lou/multi-select.git
[submodule "vendor/assets/quicksearch"]
	path = vendor/assets/quicksearch
	url = https://github.com/riklomas/quicksearch.git
